*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-color: sandybrown;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reloj{
    position: relative;
    width: 300px;
    height: 280px;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones{
    position: absolute;
    top: 15%;
    right: -7%;
}
.boton1{
    width: 20px;
    height: 40px;
    margin-bottom: 20px;
    background-color: lightgray;
    border: 3px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.boton2{
    width: 20px;
    height: 40px;
    background-color: lightgray;
    border: 3px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pantalla{
    width: 90%;
    height: 90%;
    background: linear-gradient(rgba(0, 0, 0, 0.945), rgb(95, 93, 93));
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    color: white;
}
.pantalla h1{
    font-size: 56px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pantalla h2{
    margin-top: 20px;
    transform: translateX(8px);
}
.info{
    display: flex;
}
.iconos-top{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.iconos-bottom{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.forma1{
    width: 180px;
    height: 120px;
    background-color: sienna;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
}
.forma2{
    width: 180px;
    height: 120px;
    background-color: sienna;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    transform: rotate(180deg);
}